<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
	  <settings></settings>
	  <events>
		  <event name="publish:end">
			  <handler patch:before="*[position() = 1]" type="Glass.Mapper.Sc.Caching.CacheClearEvent, Glass.Mapper.Sc" method="ClearCache" />
		  </event>
		  <event name="publish:end:remote">
			  <handler  patch:before="*[position() = 1]" type="Glass.Mapper.Sc.Caching.CacheClearEvent, Glass.Mapper.Sc" method="ClearCache" />
		  </event>
	  </events>
  </sitecore>
</configuration>
